.tab-page-wrapper{
    width: 100%;
    height: 100%;

    .tab-page-header{
        width: 100%;
        height: 60px;
    }

    .tab-page-body{
        width: 100%;
        height: calc(100% - 120px );
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 1px 1px rgb(202, 194, 194);
        overflow: hidden;
        overflow-y: scroll;
    }


    .tab-page-footer{
        width: 100%;
        height: 60px;
    }
}